<%=form_for @article do |f|%>
  <p class="form_description">
    <p><%= f.label:title%></p>
    <p><%= f.text_field :title%></p>
  </p>
  <p class="form_description">
    <p><%= f.label:description%></p>
    <p><%= f.text_area :description%></p>  
  </p>
  <p class="submit_button">
    <%=f.submit%>
  </p>



  <% end %>
