<% flash.each do |name, msg|%>
<div class="alert alert-success alert-dismissible myalert" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong> <%= msg %></strong>
  </div>
<% end %>
<h1 style="margin-top:40px;">All articles</h1>

<div class=".all_articles_show">
  <%=will_paginate @articles%>
  <% @articles.each do |article| %>
    <div class="article_show">
      <ul class="list-group">
        <li class="list-group-item article_title"><%=article.title%></li>
        <li class="list-group-item"><%=article.description%></li>
        <li class="list-group-item">Created by: <%=article.user.username%></li>
        <li class="list-group-item">
          <ul class ="last_list_item">
            <%if article.categories.any?%>
              <%article.categories.each do |category|%>
              <%=link_to category.name, category_path(category), class: "badge"%>
              <%end%>
            <%end%>
            <li><button type="button" class="btn btn-default"><%= link_to "Open", article_path(article)%></button></li>
            <%if logged_in? and current_user == article.user || current_user.admin%>
              <li><button type="button" class="btn btn-default"><%=link_to "Edit", edit_article_path(article)%></button></li>
              <li><button type="button" class="btn btn-default"><%=link_to "Delete", article_path(article),method: :delete, data: {confirm:"Are you sure?"} %></button></li>
            <%end%>
            <li>Last update:</li>
            <li id = "time"><%=article.updated_at.strftime("%H:%M:%S, %d/%m/%y")%></li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%=will_paginate @articles%>
</div>
