<h1>All articles</h1>
<table class="table table-hover all_posts_table">
  <tr class="name">
    <td>ID</td>
    <td>Name</td>
    <td>Description</td>
    <td>Last update</td>
    <td>Created by</td>
    <td colspan="3">Do</td>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%=article.id%></td>
      <td><%=article.title%></td>
      <td><%=article.description%></td>
      <td><%=article.updated_at.strftime("%H:%M:%S, %d/%m/%y")%></td>
      <td><%=article.user.username%></td>
      <td><%= link_to "Open", article_path(article)%></td>
      <td><%=link_to "Edit", edit_article_path(article)%></td>
      <td><%=link_to "Delete", article_path(article),method: :delete, data: {confirm:"Are you sure?"} %></td>
    </tr>
  <% end %>
</table>
