<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
<%=link_to "Edit", edit_article_path(@article)%>
<td><%=link_to "Delete", article_path(@article),method: :delete, data: {confirm:"Are you sure?"} %></td>
<%= link_to "All posts", articles_path%>
