<% flash.each do |name, msg|%>
<div class="alert alert-success alert-dismissible myalert" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong> <%= msg %></strong>
  </div>
<% end %>
<h1 style="margin-top:40px;">All categories</h1>
<%@categories.each do |c|%>
  <ul style="text-align:left;">
    <li class = "category_list">
      <h3><%=link_to c.name, category_path(c)%> <%=c.articles.count%></h4>
          <%if  logged_in? and current_user.admin?%>
            <button type="button" class="btn btn-default"><%=link_to "Edit", edit_category_path(c)%></button></li>
            <button type="button" class="btn btn-default" name="button"><%=link_to "Delete", categories_path, method: :delete, data: {confirm:"Are you sure?"}%></button>
          <%end%>
      </li>
  </ul>

<%end%>
